[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream
Actions=removeUnderscore

[Desktop Action removeUnderscore]
Name=Remove Underscore
Exec=ruby /home/swistak35/Projekty/dotfiles/kde_service_menus/removing_underscore.rb "%u"
