vim/eclim
vim/bundle
vim/swp/*
vim/tmp/*
vim/undo/*
vim/plugged/*

nvim/swp/*
nvim/tmp/*
nvim/undo/*
nvim/plugged/*
nvim/shada/*

zsh/cache
zsh/tmp/*

fluxbox/fbrun_history

emacs.d/session.*
emacs.d/recentf
emacs.d/image-dired/*
emacs.d/elpa/*
emacs.d/auto-save-list/*
emacs.d/pcache/*
emacs.d/saves/*
emacs.d/transient/*
