[Unit]
Description=Unified Remote Server

[Service]
PIDFile=/var/run/urserver.pid
ExecStart=/opt/unified_remote_server_3_0_1/urserver --daemon --pidfile=/var/run/urserver.pid
Restart=on-abort
ExecReload=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
