[Desktop Entry]
Exec=xdg-open "org-protocol://capture?template=wt"
Name=Capture Task
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
