[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/swistak35/Pulpit/Clickteam Fusion 2.5 Free Edition.desktop]
row=4
col=0

[/home/swistak35/Pulpit/Steam.desktop]
row=3
col=0

[/home/swistak35/Pulpit/steam.desktop]
row=2
col=0

[/home/swistak35/Pulpit/Opera 12 Notes.html]
row=5
col=0

[/]
row=0
col=0

[/home/swistak35]
row=1
col=0

